<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Image</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let memeItem of memeItems">
        <td>{{memeItem.id}}</td>
        <td>
          <a [routerLink]="['meme-item', memeItem.id]">
            <img src="data:image/png;base64,{{memeItem.image}}" width="300"/>
          </a>
        </td>
        <td>
          {{memeItem.createdAt}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
